{% extends "base.html" %}

{% block head %}
    {{ super() }}
    {% if article.description %}
    <meta name="description" content="{{article.description}}" />
    {% endif %}

    {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
    {% endfor %}
{% endblock %}

{% block content %}
<header>
    <h1>{{ article.title }}</h1>
</header>
<footer>
    <time datetime="{{ article.date.isoformat() }}">
        {{ article.locale_date }}
    </time>
</footer>
<div>
    {{ article.content }}
</div>

{% include 'disqus.html' %}
{% endblock %}
