<!-- columns should be the immediate child of a .row -->
<div class="row">
    <div class="twelve columns">
        <h1>podondra</h1>
    </div>
</div>

<div class="row">
    <div class="twelve columns">
        <a class="button" href="https://github.com/{{ site.github_username }}">
            <img style="vertical-align: text-bottom" src="img/octoface.svg" alt="octoface">
            github
        </a>
        <a class="button" href="mailto:{{ site.email }}">{{ site.email }}</a>
    </div>
</div>
