<head>
    <!-- basic page needs -->
    <meta charset="utf-8">
    <title>podondra site</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="Ondrej Podsztavek">

    <!-- mobile specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- font -->
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

    <!-- css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">

    <!-- icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- favicon -->
    <link rel="icon" type="image/png" href="img/keyboard.png">
</head>
